<nav class="comic-nav">
	<nav class="com-nav-btn">
    {% if page.previous.url %}
		<a href="{{ site.baseurl }}{{ page.previous.url }}"><img src="/images/menu_prev.png" alt="Previous"></a>
		{% else %}
		<img class="disabled" src="/images/menu_prev.png" alt="Previous">
		{% endif %}
	</nav>
	<nav class="com-nav-btn">
		{% if site.posts.last.url == page.url %}
		<img class="disabled" src="/images/menu_first.png" alt="First">
		{% else %}
		<a href="{{ site.baseurl }}{{ site.posts.last.url }}"><img src="/images/menu_first.png" alt="First"></a>
		{% endif %}
	</nav>
	<nav class="com-nav-btn">
		<a href="{{ site.baseurl }}/{{ page.categories }}"><img src="/images/menu_archives.png" alt="Archives"></a>
	</nav>
	<nav class="com-nav-btn">
		{% if site.posts.first.url == page.url %}
		<img class="disabled" src="/images/menu_last.png" alt="First">
		{% else %}
		<a href="{{ site.baseurl }}{{ site.posts.first.url }}"><img src="/images/menu_last.png" alt="First"></a>
		{% endif %}
	</nav>
	<nav class="com-nav-btn">
		{% if page.next.url %}
		<a href="{{ site.baseurl }}{{page.next.url}}"><img src="/images/menu_next.png" alt="Next"></a>
		{% else %}
		<img class="disabled" src="/images/menu_next.png" alt="Next">
		{% endif %}
	</nav>
</nav>
